body{
  background-color: #000;
}

.pyramid-container {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    perspective: 300px;
    perspective-origin: 50% 40%;
  }
  
  .py-side {
    position: absolute;
    left: 140px;
    top: 150px;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 160px solid #ccc;
    transform-origin: 50% 0%;
    animation: spin 5s infinite linear;
  }
  
  .py-back {
    animation-delay: -2.5s;
  }
  
  .py-right {
    animation-delay: -1.25s;
  }
  
  .py-left {
    animation-delay: -3.75s;
  }
  
  @keyframes spin {
    0% {
      transform: rotateY(0deg) rotateX(30deg);
      border-bottom-color: #fff;
    }
    25% {
      transform: rotateY(90deg) rotateX(30deg);
      border-bottom-color: #fff;
      opacity: 1;
    }
    25.1% {
      opacity: 0;
    }
    50% {
      transform: rotateY(180deg) rotateX(30deg);
      border-bottom-color: #fff;
    }
    74.9% {
      opacity: 0;
    }
    75% {
      transform: rotateY(270deg) rotateX(30deg);
      border-bottom-color: #fff;
      opacity: 1;
    }
    100% {
      transform: rotateY(360deg) rotateX(30deg);
      border-bottom-color: #fff;
    }
  }
  
  /* .shadow {
    position: absolute;
    top: 300px;
    left: 175px;
    width: 50px;
    height: 50px;
    background-color: #bbb;
    box-shadow: 0 0 40px 40px #bbb;
    animation: shadow 5s infinite linear;
  } */
  
  /* @keyframes shadow {
    0% {
      transform: rotateX(90deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(90deg) rotateZ(-360deg);
    }
  } */
  